---
import type { RelatedType } from "../pages/[...slug].astro";
import type { MarkdownHeading } from "astro";

type Props = {
    related: RelatedType,
    headingsWithDepth2: MarkdownHeading[]
}

const { related, headingsWithDepth2 } = Astro.props;
---

<div class="fixed bottom-0 left-0 right-0 z-50 bg-transparent p-2 flex justify-end xl:hidden">
  {related.length > 0 || headingsWithDepth2.length > 0 ?
    <div class="dropdown dropdown-top dropdown-end ">
      <label tabindex="0" class="btn m-1 bg-zinc-300 border-zinc-400 hover:bg-zinc-400 hover:border-zinc-500 dark:bg-zinc-700 dark:border-zinc-800 ">Menu</label>
      <ul tabindex="0" class="overflow-auto dropdown-content z-[1] menu p-2 pt-10 shadow bg-zinc-300 dark:bg-zinc-700 rounded-box max-w-max break-words min-w-0 prose mx-auto text-black prose-li:marker:text-black prose-headings:text-black prose-a:text-blue-600 hover:prose-a:text-blue-900 dark:text-zinc-100 dark:prose-li:marker:text-zinc-100 dark:prose-headings:text-zinc-100 dark:prose-a:text-blue-400 dark:hover:prose-a:text-blue-600">
    <div class="max-h-52">
    {related.length > 0 ?
        <h2 class="ml-2 mb-1 -mt-8">Related</h2>
        <div class="w-48 pb-2">
            {
            related.map((relatedNote) => (
                <li class="ml-2 -mt-1 -mb-[.35rem] ">
                    <div class="-mb-[.35rem]">
                        <span class=" text-2xl -mt-[.15rem] ">•</span>
                        <a href={`${Astro.url.origin}/`+`${relatedNote.slug}`} class="text-blue-600 dark:text-blue-400 break-words min-w-0 link">{relatedNote.text}</a> 
                    </div>
                </li>
            ))
            }
        </div> : <div></div>
    }
    {headingsWithDepth2.length > 0 ?
        <h2 class={`ml-2 mb-1 ${related.length > 0 ? 'mt-2' : 'mt-0'}`}>Headings</h2>
        <div class="w-48 pb-2">
            {
            headingsWithDepth2.map((heading) => (
                <li class="ml-2 -mt-1 -mb-[.35rem] list-none flex">
                    <div class="-mb-[.35rem]">
                        <span class=" text-2xl -mt-[.15rem] ">•</span>
                        <a href={`#${heading.slug}`} class="text-blue-600 dark:text-blue-400 break-words min-w-0 link">{heading.text}</a></div>
                </li>
            ))
            }
        </div> : <div></div>
        }
      </ul>
    </div></div> : <div></div>
  }
</div>