---
import type { RelatedType } from "../pages/[...slug].astro";
import type { MarkdownHeading } from "astro";

type Props = {
    related: RelatedType,
    headingsWithDepth2: MarkdownHeading[]
}

const { related, headingsWithDepth2 } = Astro.props;
---
{ (related.length > 0 || headingsWithDepth2.length > 0) && (
<div class="maxwidth sidebar prose mx-auto max-h-80 overflow-y-auto border border-zinc-400 text-black prose-li:marker:text-black prose-headings:text-black prose-a:text-blue-600 hover:prose-a:text-blue-900 dark:text-white dark:prose-li:marker:text-white dark:prose-headings:text-white dark:prose-a:text-blue-400 dark:hover:prose-a:text-blue-600 prose-h2:mt-0 prose-h2:mb-2 fixed top-10 right-4 max-w-[10rem] bg-zinc-100 dark:bg-zinc-800 z-10 hidden xl:block rounded-lg p-4">
  {related.length > 0 && 
    <div class="-mt-2">
      <h2 class="mt-0">Related</h2>
      <ul class="-ml-7 mb-1">
      {
        related.map((relatedNote) => (
        <li class=" m-0 -mb-[.35rem] -mt-1 list-none flex">
          <span class="mr-2 text-3xl -mt-[.3rem] -ml-2">•</span>
          <a href={`${Astro.url.origin}/`+`${relatedNote.slug}`} class="text-blue-600 dark:text-blue-400 hover:text-blue-900 dark:hover:text-blue-600 break-words min-w-0">{relatedNote.text}</a>
          </li>
        ))
      }
      </ul>
    </div>}
    <div class="mb-2"></div>
    {headingsWithDepth2.length > 0 && 
    <div class="-mt-2 ">
      <h2 class="mt-0">Headings</h2>
      <ul class="-ml-7 mb-0">
      {
        headingsWithDepth2.map((heading: MarkdownHeading) => (
          <li class=" -mt-1 -mb-[.35rem] list-none flex">
            <span class="mr-2 text-3xl -mt-[.3rem] -ml-2">•</span>
            <a href={`#${heading.slug}`} class="text-blue-600 dark:text-blue-400 hover:text-blue-900 dark:hover:text-blue-600 break-words min-w-0">{heading.text}</a>
          </li>
        ))
      }</ul>
    </div>}</div> 
  )}
